@keyframes toggleBoxShadow {
  0% {
    box-shadow: unset;
  }
  4% {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.91);
  }
  5% {
    box-shadow: unset;
  }
  6% {
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.91);
  }
}

@keyframes changeElement {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 10px;
    height: 10px;
    padding: 7px 17px;
  }

  100% {
    width: 150px;
    height: 150px;
    padding: 15px 35px;
  }

}

@keyframes fadeInScale {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  60% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes moveCircleIconToBottom {
  from {
    top: 10px;
  }

  to {
    top: 90%;
  }
}

@keyframes moveCircleIconToTop {
  0% {
    top: 90%;
    opacity: 1;
  }

  50% {
    top: 10px;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}